.gradient {
    background: linear-gradient(110deg, #2196F3 7.77%, #9F9F9F 34.15%, #FF9E67 48.52%, #575757 67.68%, #F44336 93.61%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}