@media (prefers-color-scheme: dark) {
.welcome {
    background: #121FCF;
    background: linear-gradient(to right, #121FCF 0%, #CF1512 100%,#121FCF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
}
.welcome {
    background: linear-gradient(81deg, #68686d 6.96%, #2e2d2d 97.21%); 
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-feature-settings: 'ss02' on;
}